# Buildout Configuration File for mr.developer a buildout extension 
[buildout]

extends = 00-site-basics-02-dumpedversions.cfg

extensions += 
# A zc.buildout extension to ease the development 
# of large projects with lots of packages.
# For options see http://pypi.python.org/pypi/mr.developer
    mr.developer

# This specifies the default directory where 
# your development packages will be placed. Defaults to src.
sources-dir = src

# This specifies the name of a section which lists 
# the repository information of your packages. Defaults to sources.
sources = sources

# This specifies the names of packages which should be checked out during buildout, 
# packages already checked out are skipped. You can use * as a wild card for all packages in sources.
always-check = true

# This defaults to false. If it's true, then invalid server certificates 
# are accepted without asking for subversion repositories.
#always-accept-server-certificate = true

# This specifies the names of packages which should be checked out during buildout, 
# packages already checked out are skipped. You can use * as a wild card for all packages in sources.
auto-checkout =

parts += 
    accept-server-certificate

# This recipe helps to accept the server certificate asking for subversion repositories.
# For options see http://plone.org/documentation/kb/setup-ipython-for-zope
[accept-server-certificate]
recipe = plone.recipe.command

# Command to run when the buildout part is installed.
command = 
    svn co https://141.233.238.172/svn/plone/Projects/uwosh.default/trunk/ uwosh
    rm -rf ./uwosh
    svn co https://weblion.psu.edu/svn/weblion/weblion/Products.FacultyStaffDirectory/trunk/ weblion
    rm -rf ./weblion

# Command to run when the buildout part is updated. This happens when buildout 
# is run but the configuration for this buildout part has not changed.
update-command = ${accept-server-certificate:command} 

# When yes, on or true, buildout will stop if the command ends with a non zero exit code.
stop-on-error = no

# This buildout part is to define mr.developer urls 
# for donwload the source code from many repositories
[sources]

