# Buildout Configuration File for dumppickedversions a buildout extension 
[buildout]

extends = 00-site-basics-01-pip.cfg

#extensions += 
# This extension will dump a list of unpinned versions each time you run buildout.
# For options see http://pypi.python.org/pypi/buildout.dumppickedversions
#    buildout.dumppickedversions 

# A file name you want buildout.dumppickedversions to write to. If not given 
# buildout.dumppickedversions will dump the versions to the screen.
dump-picked-versions-file = dumped-versions.cfg

# If set to true, buildout.dumppickedversions will overwrite the file defined 
# in dump-picked-versions-file if it exists. Defaults to True.
overwrite-picked-versions-file = True

