# Buildout Configuration File for Products.ARFilePreview product
[buildout]

extends = 01-third-party-products-05-prettyphoto.cfg
parts += 
    requeriments-arfilepreview

############################################
# Eggs
#
eggs += Products.ARFilePreview
    
############################################
# ZCML Slugs
# 
zcml += Products.ARFilePreview

[requeriments-arfilepreview] 
recipe = plone.recipe.command
command = 
    su
    aptitude install -y ppthtml xlhtml wv xsltproc unzip xpdf-utils
    exit
