# Buildout Configuration File for Maps products
[buildout]

extends = 01-third-party-products-02-p4a.cfg

##################################################
# Esto especifica los nombres de los paquetes que debe ser 
# comprobados durante el buildout, puede usar * como un comodín 
# para especificar todo los paquetes definidos en la sección sources.
auto-checkout +=
    Products.Maps
    collective.portlet.map


############################################
# Eggs
#
eggs +=
    Products.Maps
    collective.portlet.map

    
############################################
# ZCML Slugs
# 
zcml +=
    Products.Maps
    collective.portlet.map


############################################
# Development Eggs
#
develop +=
    src/Products.Maps
    src/collective.portlet.map


#####################################################
# Sintaxis de comprobación desde los repositorios SVN
#
[sources]
Products.Maps = svn http://svn.plone.org/svn/collective/Products.Maps/trunk/@144602
collective.portlet.map = svn http://svn.plone.org/svn/collective/collective.portlet.map/trunk/@120518

